body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(90deg, #d3cce3, #e9e4f0);
    font-family: "Nunito", sans-serif;
}

.warning {
    position: absolute;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.success {
    position: fixed;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(0, 97, 8);
    color: rgb(255, 255, 255);
}

.task-added {
    position: absolute;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(0, 97, 8);
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(59, 59, 59);
    /* border: 1px solid black; */
}

h2 {
    color: rgb(18, 129, 92);
    font-size: 1rem;
}

a {
    color: black;
}

.form {
    width: 30vw;
    box-shadow: 5px 5px 10px black;
    /* background-color: rgb(255, 255, 255); */
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0;
    /* align-items: center;
    justify-content: stretch; */
}

.enter-task-field {
    height: 2rem;
}

.btn {
    /* width: 50%; */
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background: black;
    color: honeydew;
    cursor: pointer;
    /* width: 200px; */
    height: 2.36rem;
    /* background-color: rgb(255, 218, 56); */
}

.btn-submit {
    border-radius: 0;
    /* width: 30%; */
    /* background: linear-gradient(to top, #11998e, #38ef7d); */
    background-color: rgb(0, 71, 112);
}

.btn-reset-list {
    margin-bottom: 2rem;
    /* background: linear-gradient(to bottom, #333333, #dd1818); */
    background-color: rgb(160, 1, 1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
    width: 20vw;
    min-height: 30vh;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px black;
}

.task-slot {
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto auto;
    gap: 0;
    font-size: 1.5rem;
    margin-bottom: 0.09rem;
    margin-top: 0.1rem;
    /* box-shadow: 5px 5px 15px black; */
    background-color: rgb(95, 95, 95);
    /* background: linear-gradient(to left, #feffeb 0%, #9c6614 100%); */
}

.btn-finished {
    background-color: none;
    /* border-radius: 20%; */
    cursor: pointer;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    font-size: 1.5rem;
    color: rgb(0, 219, 0);
}

.btn-delete {
    /* border: 1px solid black; */
    /* box-shadow: 5px 5px 15px black; */
    background-color: none;
    /* border-radius: 20%; */
    cursor: pointer;
    justify-self: end;
    align-self: center;
    /* margin-left: 5px; */
    margin-right: 20px;
    font-size: 1.5rem;
    color: rgb(253, 63, 63);
}

.task-text {
    /* border: 1px solid black; */
    cursor: pointer;
    color: rgb(255, 208, 0);
    margin-left: 20px;
}

.task-finished {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

.btn-reset-list {
    margin-top: 2rem;
}

.hidden {
    display: none;
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 60vw;
    }
    .form {
        width: 60vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 50vw;
    }
    .form {
        width: 50vw;
    }
    .task-slot {
        font-size: 1rem;
    }
}

@media all and (min-width: 320px) and (max-width: 479px) {
    .container {
        width: 90vw;
        box-shadow: 5px 5px 5px black;
    }
    .form {
        width: 90vw;
    }
    .btn {
        font-size: 0.9rem;
    }
    .task-slot {
        font-size: 1rem;
    }
    .btn-delete {
        margin-right: 5px;
        font-size: 1.5rem;
    }
    .task-text {
        margin-left: 5px;
    }
}