body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(90deg, #d3cce3, #e9e4f0);
    font-family: "Nunito", sans-serif;
}

h1 {
    color: rgb(59, 59, 59);
    /* border: 1px solid black; */
}

.form {
    width: 30vw;
    box-shadow: 5px 5px 10px black;
    /* background-color: rgb(255, 255, 255); */
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0;
    /* align-items: center;
    justify-content: stretch; */
}

.enter-task-field {
    height: 2rem;
}

.btn {
    /* width: 50%; */
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background: black;
    color: honeydew;
    cursor: pointer;
    /* width: 200px; */
    height: 2.36rem;
    /* background-color: rgb(255, 218, 56); */
}

.btn-submit {
    border-radius: 0;
    /* width: 30%; */
    background: linear-gradient(to top, #11998e, #38ef7d);
}

.btn-reset-list {
    margin-bottom: 2rem;
    background: linear-gradient(to bottom, #333333, #dd1818);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
    width: 30vw;
    min-height: 90vh;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px black;
}

.task-slot {
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    width: 95%;
    display: grid;
    grid-template-columns: 90% auto;
    gap: 0;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    box-shadow: 5px 5px 15px black;
    /* background: linear-gradient(to left, #feffeb 0%, #9c6614 100%); */
}

.btn-delete {
    /* border: 1px solid black; */
    /* box-shadow: 5px 5px 15px black; */
    background-color: none;
    /* border-radius: 20%; */
    cursor: pointer;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

.task-text {
    /* border: 1px solid black; */
    cursor: pointer;
    color: rgb(49, 0, 16);
    margin-left: 20px;
}

.task-text:hover {
    color: green;
}

.task-finished {
    text-decoration: line-through;
}

.btn-reset-list {
    margin-top: 2rem;
}

.hidden {
    display: none;
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 90vw;
    }
    .form {
        width: 90vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90vw;
    }
    .form {
        width: 50vw;
    }
    .task-slot {
        font-size: 2rem;
    }
}

@media all and (min-width: 320px) and (max-width: 479px) {
    .container {
        width: 90vw;
        box-shadow: 5px 5px 5px black;
    }
    .form {
        width: 90vw;
    }
    .task-slot {
        font-size: 1rem;
    }
    .btn-delete {
        margin-right: 5px;
    }
    .task-text {
        margin-left: 5px;
    }
}