body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* background: linear-gradient(90deg, #d3cce3, #e9e4f0); */
    background: #474747;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.warning {
    position: absolute;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.modal-warning {
    z-index: 13;
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.success {
    position: fixed;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.task-added {
    position: absolute;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.task-deleted {
    position: fixed;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.task-reinstated {
    position: fixed;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

.task-edited {
    position: fixed;
    top: 0;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: rgb(246, 189, 0);
    color: rgb(15, 15, 15);
}

h1 {
    font-weight: lighter;
    color: #fbf4f4;
    /* border: 1px solid black; */
}

h2 {
    font-weight: lighter;
    color: #fbf4f4;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: rgb(228, 194, 0);
}

.form {
    width: 30vw;
    box-shadow: 5px 5px 10px black;
    /* background-color: rgb(255, 255, 255); */
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0;
    /* align-items: center;
    justify-content: stretch; */
}

.enter-task-field {
    height: 2rem;
    font-family: "Nunito", sans-serif;
}

.btn {
    /* width: 50%; */
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background: black;
    color: honeydew;
    cursor: pointer;
    /* width: 200px; */
    height: 2.36rem;
    /* background-color: rgb(255, 218, 56); */
}

.btn-submit {
    border-radius: 0;
    /* width: 30%; */
    /* background: linear-gradient(to top, #11998e, #38ef7d); */
    background-color: rgb(0, 71, 112);
}

.big-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn-reset-list {
    /* margin-bottom: 2rem; */
    /* background: linear-gradient(to bottom, #333333, #dd1818); */
    background-color: rgba(255, 255, 255, 0);
    margin-right: 1rem;
    color: rgb(255, 255, 255);
}

.btn-share-list {
    margin-left: 1rem;
    background-color: rgb(255, 208, 0);
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
    width: 30vw;
    min-height: 30vh;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px black;
}

.task-slot {
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    width: 100%;
    display: grid;
    grid-template-columns: 60% auto auto auto auto;
    gap: 0;
    font-size: 1.5rem;
    margin-bottom: 0.09rem;
    margin-top: 0.1rem;
    /* box-shadow: 5px 5px 15px black; */
    background-color: #333333;
    /* background: linear-gradient(to left, #feffeb 0%, #9c6614 100%); */
}

.task-slot-finished {
    background-color: #00661a;
}

.btn-edit {
    background-color: none;
    /* border-radius: 20%; */
    cursor: pointer;
    justify-self: end;
    align-self: center;
    font-size: 1.5rem;
    color: rgb(0, 162, 255);
}

.btn-finished {
    background-color: none;
    /* border-radius: 20%; */
    cursor: pointer;
    justify-self: end;
    align-self: center;
    /* margin-right: 20px; */
    font-size: 1.5rem;
    color: rgb(0, 219, 0);
}

.btn-undofinished {
    cursor: pointer;
    justify-self: end;
    align-self: center;
    /* margin-right: 20px; */
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.btn-delete {
    /* border: 1px solid black; */
    /* box-shadow: 5px 5px 15px black; */
    background-color: none;
    /* border-radius: 20%; */
    cursor: pointer;
    justify-self: end;
    align-self: center;
    /* margin-left: 5px; */
    /* margin-right: 20px; */
    font-size: 1.5rem;
    color: rgb(253, 63, 63);
}

.task-text {
    /* border: 1px solid black; */
    color: rgb(255, 208, 0);
    margin-left: 20px;
}

.task-finished {
    text-decoration: line-through;
    color: rgb(255, 255, 255);
}

.hidden {
    display: none;
}

.hidden-alt {
    visibility: hidden;
}

.modal-background {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 200vh;
    background-color: #000000a9;
    backdrop-filter: blur(4px);
}

.modal {
    position: absolute;
    z-index: 12;
    width: fit-content;
    height: 200px;
    background-color: #474747;
    padding: 2rem;
    border-radius: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 75vw;
    }
    .form {
        width: 75vw;
    }
    .task-slot {
        grid-template-columns: 60% auto auto auto auto;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 50vw;
    }
    .form {
        width: 50vw;
    }
    .task-slot {
        font-size: 1rem;
    }
}

@media all and (min-width: 320px) and (max-width: 479px) {
    .container {
        width: 90vw;
        box-shadow: 5px 5px 5px black;
    }
    input:focus {
        font-size: 16px;
    }
    .form {
        width: 90vw;
    }
    .btn {
        font-size: 0.8rem;
    }
    .task-slot {
        font-size: 1rem;
        grid-template-columns: 60% auto auto auto auto;
    }
    .btn-delete {
        /* margin-right: 5px; */
        font-size: 1.5rem;
    }
    .task-text {
        margin-left: 5px;
    }
}